<header class="header">
  <div class="container">
      <div class="header__block">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item"><a href="#">О нас</a></li>
            <li class="header__item"><a href="#">Магазины</a></li>
            <li class="header__item"><a href="#">Оплата и доставка</a></li>
            <li class="header__item"><a href="#">Статус заказа</a></li>
            <li class="header__item"><a href="#">Возврат</a></li>
            <li class="header__item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__adress-block">
          <div class="header__icon-wrap">
            <img src="assets/images/icon/geo.png" alt="icon">
            <span class="header__span">Москва</span>
          </div>
          <div class="header__icon-wrap">
            <img src="assets/images/icon/tell.png" alt="icon">
            <a href="tel:+7 (812) 834-84-88">
              <span class="header__span">+7 (812) 834-84-88</span>
            </a>
          </div>
        </div>
      </div>
      <div class="header__input-block">
        <div class="header__input-btn-wrap">
          <button class="header__input-btn btn">Каталог</button>
        </div>
        <div class="header__search-form">
          <input class="header__search-form-text" type="text" placeholder="Поиск товара">
          <button class="header__search-form-btn"><img class="header__search-form-image" src="assets/images/icon/search.png" alt=""></button>
        </div>
        <div class="header__icons-block">
          <div class="header__icons-wrap">
            <img src="assets/images/icon/heart.png" alt="icon">
            <div class="header__icons-span-wrap">
              <span class="header__icons-blocks-span">Избранное</span>
            </div>
          </div>
          <div class="header__icons-wrap">
            <img src="assets/images/icon/heart.png" alt="icon">
            <div class="header__icons-span-wrap">
              <span class="header__icons-blocks-span">Избранное</span>
            </div>
          </div>
          <div class="header__icons-wrap">
            <img src="assets/images/icon/heart.png" alt="icon">
            <div class="header__icons-span-wrap">
              <span class="header__icons-blocks-span">Избранное</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
